schema:
  - https://api.annict.com/graphql:
      headers:
        "Authorization": "Bearer {ここに個人のアクセストークン}"
documents: "./src/features/apollo/gql/**/*.ts"
generates:
  ./src/features/apollo/generated-types.ts:
    plugins:
      - typescript
      - typescript-operations
      - typed-document-node