@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #333;
  --background-rgb: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #fff;
    --background-rgb: #000;
  }
}

body {
  color: var(--foreground-rgb);
  background: var(--background-rgb);
}

[class].material-symbols-outlined {
  font-size: 1.5em;
}
.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}
.material-symbols-outlined--fill {
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}