@import "tailwindcss";

@theme {
  --color-annict-100: #d51c5b;
  --font-sans: sans-serif;
}

@utility line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@utility line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@utility leading-trim {
  margin-block: calc((1em - 1lh) / 2);
}

:root {
  --foreground-rgb: #333;
  --background-rgb: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #fff;
    --background-rgb: #000;
  }
}

body {
  color: var(--foreground-rgb);
  background: var(--background-rgb);
}